<% provide(:title, 'Главная') %>
<div class="header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 style="font-size:25pt;">Сайт для поиска жилья напрямую от частных лиц. Без риелторов. </h1>
      <hr>
      <p style="color:gray; font-size: 20px;">На нашем сайте нет риелторов, только настоящие владельцы недвижимости.</p>
      <a href="#more" class="btn btn-primary btn-xl page-scroll" id="learnMore">Как это работает ?</a>
    </div>
  </div>
</div>

<div class="home-ads">
  <%= image_tag('kazan.jpg', style: 'width:25%; margin: 65px; float:left;', class: 'img-rounded') %>
</div>
