<% provide(:title, 'Главная') %>
<div class="header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 style="font-size:25pt; color:white; font-family: Helvetica, Arial, sans-serif">Сайт для поиска жилья напрямую от частных лиц. Без риелторов. </h1>
      <p style="color:white; font-size: 20px;">На нашем сайте нет риелторов, только настоящие владельцы недвижимости.</p>
      <%= link_to 'Как это работает?', how_it_works_path, class: "btn btn-primary btn-xl page-scroll", id:'how-it-works' %>
    </div>
  </div>
</div>

<div class="home-ads">
  <%= image_tag('kazan.jpg', style: 'width:25%; margin: 65px; float:left;', class: 'img-rounded') %>
</div>
