.container-fluid {
  position: relative;
  top: 50px;
  padding-bottom: 100px;
}

.page-scroll {
  color: cornflowerblue;
}

#searchHome {
  background-color: #7d40c4;
}

#searchHome :hover {
  background-color: transparent;
}

.forms {
  width: 600px;
  margin: auto;

  .field {
    margin: 10px;
  }
  h2 {
    text-align: center;
  }

}

#passport-field {
  display: none;
}

#why {
  color: indianred;
}

a:hover {
  color: darkblue;
}

#logo {
  position: absolute;
  top: 3px;
  left: 20px;
  height: 45px;
  width: 45px;
}

.navbar-static-bottom {
  z-index: 9999;
  position: relative;
}

.btn-custom-violet {
  background-color: #7d40c4;
  color: white;
  &:hover {
    color: white;
    background-color: #6638a5;
  }
}

.seller-logo {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto
}