#searchHome {
  background-color: cornflowerblue;
}

#searchHome :hover {
  background-color: transparent;
}

.header {
  width: 90%;
  margin: auto;
  text-align: center;
  border: thin solid orange;
  padding: 50px;
  background-image: url(image-path('geometry.png'));
}




