.header {
  width: 90%;
  margin: auto;
  text-align: center;
  border: thin solid deepskyblue;
  padding: 50px;
  background-image: url(image-path('geometry2.png'));
}

#how-it-works {
  color: #7d40c4;
  background-color: white;
  &:hover {
    background-color: whitesmoke;
  }
}






