<div class="navbar-static-bottom">
  <div class="container" style="width:100%; height:50px;">
    <p class="muted credit" style="text-align: right;">
      Вопрос? <br /> <a href="blabla@mail.ru" class="page-scroll">blabla@mail.ru</a>
    </p>
  </div>
</div>