<div class="navbar-static-bottom">
  <div class="container" style="width:100%; height:50px;">
    <p class="muted credit" style="text-align: right;">
      Вопрос? <br /> <%=link_to 'blabla@mail.ru', 'blabla@mail.ru', class:'page-scroll'%>
    </p>
  </div>
</div>